body{
    background-color: rgb(215, 233, 250);
}

#container{
    background-color: rgb(241, 231, 196);
    border: solid 1px black;
    width: 50%;
    margin:auto;
}

#header{
    text-align: center;
    font-size: 120;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.preto{background-color: black;}

li, ul{
    list-style-type: none;
    display: inline-block;
    color: white;
    padding: 0,2%;
    margin: 0,2%;
}

.subtitle{
    margin: 20px;
}

p{
    text-align: justify;
    margin: 20px;
}

.recuo{
    margin-left: 80px;
}

.destaque{
    color:red;
}
